<div id="sidebar"  class="nav-collapse super_admin_side_menu">
    <ul class="superadmin sidebar-menu" id="nav-accordion">

        <li>
            <a class="" href="{% url 'index' %}">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
       
        <li>
            <a class="" onclick="LogOut()">
                <i class="fa fa-user"></i>
                <span title="Log Out"> Log Out</span>
            </a>
        </li>

    </ul>
</div>